@import url(https://hashsan.github.io/fujiyama/fujiyama.css);
@import url(https://hashsan.github.io/fujiyama/fujiyamaEditor.css?v=3);

body{
  overflow-y:scroll;
}
/*
#cits{
  margin-left:2rem;
  margin-bottom:40vh;
}
*/
nav{
  display:flex;
  flex-direction:column;
}
nav.bottom{
  margin-top:2rem;
}

nav a {
    border-bottom: 2px dotted transparent;
}
