/*need
<meta name="viewport" content="width=device-width, initial-scale=1">
*/
/*
v1 create the fujiyama minimal theme. so <div class="pbox"> or box
v2.0 background spray like
v2.1 add >> p hn mark .pre >> text-align:justify;
v3 add .code
v4 bug first image = liner-gradiant size none!
v5 lost the a tag cursor pointer
v6 input group good fit
*/

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
:root{
  --font-family:'M PLUS Rounded 1c', sans-serif;
  --background-1:linear-gradient(135deg,#fffa,#fffa);
  --background-2:url('https://i.pinimg.com/564x/27/3f/73/273f73861223c022adaa3e0ae382e3dc.jpg');
}

html{
  -webkit-text-size-adjust:100%;
  font-family:var(--font-family);
  font-family:var(--font-family);
  font-weight:bold;
  word-break:break-all;
  line-height:1.6;  
}
body{
  background:var(--background-1),var(--background-2);
  background-size:100vw 100vh,100% auto; /* bug fix */  
}
.box{
  margin:auto;
  width:100%;  
  max-width:480px;
  box-sizing:border-box;
}
.pbox{
  margin:auto;  
  width:100%;
  max-width:480px;
  padding:2rem;
  box-sizing:border-box;  
}
.pre{
  white-space:pre-wrap;
  text-align:justify;  
}

p{
  margin:0;
  text-align:justify;  
}
h1,h2,h3,h4,h5,h6,mark{
  display:block;
  font-size:1.8rem;
  margin:1rem 0;
  line-height:1.3;
  text-align:justify;  
}
mark{background:unset;}
img{
  object-fit:cover;
  max-width:70%;
}

a{text-decoration:none;}
a:hover{border-bottom:2px dotted;}

.para{/*margin-top:1.3rem;*/}
.r{text-align:right;}
.c{text-align:center;}

.code{
  word-break:break-all;
  white-space:pre-wrap;
}

input{
  width:20rem;
}

option{
  min-width:20rem;
}

a{
  cursor:pointer;
}
